<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="myQueue" value=".\private$\mysamplemsmq"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="MyMsmqBinding" exactlyOnce="false">
                    <security mode="None"></security>
                </binding>
                
            </netMsmqBinding>
        </bindings>
        <services>
            <service name="MsmqHostSample.Program" behaviorConfiguration="msmqBehavior">
                <endpoint address="mysamplemsmq" binding="netMsmqBinding"
                    bindingConfiguration="MyMsmqBinding" contract="MsmqHostSample.IOrder" />
                <endpoint binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8082/" />
                        <add baseAddress="net.msmq://localhost/private/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="msmqBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        
    </system.serviceModel>
</configuration>