<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="basicBehavior">
                    <serviceMetadata httpGetEnabled="true"/>                    
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServiceLib.Service" behaviorConfiguration="basicBehavior">
                <endpoint name="Add" address="Add" binding="basicHttpBinding" contract="ServiceLib.IService"></endpoint>
                <endpoint name="AdminOperations" address="AdminOperation" binding="basicHttpBinding" contract="ServiceLib.IAdminService"></endpoint>
                <endpoint name="InternalOperations" address="InternalOperation" binding="netTcpBinding" contract="ServiceLib.IInternalService"></endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/"/>
                        <add baseAddress="net.tcp://localhost:8081"/>
                        <add baseAddress="net.pipe://localhost"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="ServiceLib.AdminService" behaviorConfiguration="basicBehavior">                
                <endpoint name="AdminOperations" address="AdminOperation" binding="basicHttpBinding" contract="ServiceLib.IAdminService"></endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8002/"/>                        
                    </baseAddresses>
                </host> 
            </service>
            <service name="ServiceLib.InternalService" behaviorConfiguration="basicBehavior">                
                <endpoint name="InternalOperations" address="InternalOperation" binding="netTcpBinding" contract="ServiceLib.IInternalService"></endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
                <host>
                    <baseAddresses>                        
                        <add baseAddress="net.tcp://localhost:8004/"/>
                        <add baseAddress="http://localhost:8003/"/>
                        <add baseAddress="net.pipe://localhost"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <!--<bindings>
            <basicHttpBinding>
                <binding name="basicBinding"></binding>
            </basicHttpBinding>
        </bindings>-->        
    </system.serviceModel>
</configuration>