[submodule "C#/Csharp14Demos"]
	path = "C#/Csharp14Demos"
	url = https://github.com/wieslawsoltes/Csharp14Demos.git
[submodule "C#/GitHub Projects"]
	path = "C#/GitHub Projects"
	url = https://github.com/dotnet/eShop.git
