[submodule "C#/Csharp14Demos"]
	path = "C#/Csharp14Demos"
	url = https://github.com/wieslawsoltes/Csharp14Demos.git
[submodule "C#/GitHub Projects"]
	path = "C#/GitHub Projects"
	url = https://github.com/dotnet/eShop.git
[submodule "C#/GitHub-Projects/eShop"]
	path = "C#/GitHub-Projects/eShop"
	url = https://github.com/dotnet/eShop.git
[submodule "C#/GitHub-Projects/csharp_codes"]
	path = "C#/GitHub-Projects/csharp_codes"
	url = https://github.com/gcfernando/csharp_codes.git
[submodule "GitHub-Projects/Azure-Service-Bus-Emulator"]
	path = GitHub-Projects/Azure-Service-Bus-Emulator
	url = https://github.com/Azure/azure-service-bus-emulator-installer
