<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="queue" value=".\private$\msmqsample"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="MsmqBinding" exactlyOnce="false">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MsmqBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>            
        </behaviors>        
        <services>
            <service behaviorConfiguration="MsmqBehavior" name="MsmqHost.Program">
                <endpoint address="net.msmq://localhost/private/msmqsample" binding="netMsmqBinding"
                    bindingConfiguration="MsmqBinding" contract="ServiceLib.IOrderProcessor" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000/SampleMsmqService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>