<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />        
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="bindingBehavior">
                    <serviceMetadata httpsGetEnabled="true" />                    
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding">
                    <security mode="Transport"></security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <services>
            <service name="SecureWorldLib.SecureWorld" behaviorConfiguration="bindingBehavior">
                <!--<endpoint address="http://localhost:8009/SecureWorld.svc" binding="basicHttpBinding" bindingConfiguration="" contract="SecureWorldLib.ISecureWorld" />
                <endpoint address="http://localhost:8009/mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />-->
                <!--<host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8008/" />
                    </baseAddresses>
                </host>-->
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding" contract="SecureWorldLib.ISecureWorld" />
                <endpoint address="mex" binding="mexHttpsBinding" bindingConfiguration="" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="https://karthiksg-pc/SecureWorld.svc" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
