<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="D:\Visual Studio Projects\WCF\WCFTraining\Bindings\DuplexHost\App_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <diagnostics>
            <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false"
                logMessagesAtTransportLevel="false" />
        </diagnostics>
        <behaviors>
            <serviceBehaviors>
                <behavior name="DualBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <wsDualHttpBinding>
                <binding name="SimpleDualBinding" clientBaseAddress="http://localhost:8005/MyClient" />
            </wsDualHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="DualBehavior" name="DuplexHost.SampleDuplex">
                <endpoint address="MyClient" binding="wsDualHttpBinding"
                    bindingConfiguration="SimpleDualBinding" contract="DuplexHost.InterfaceDuplex" />
                <endpoint address="" binding="mexHttpBinding"
                    bindingConfiguration="" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8005" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>