<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="basicBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServiceLib.Service" behaviorConfiguration="basicBehavior">
                <endpoint name="Add" address="Add" binding="basicHttpBinding" contract="ServiceLib.IService"></endpoint>
                <endpoint name="AdminOperations" address="AdminOperation" binding="basicHttpBinding" contract="ServiceLib.IAdminService"></endpoint>
                <endpoint name="InternalOperations" address="InternalOperation" binding="netTcpBinding" contract="ServiceLib.IInternalService"></endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/"/>
                        <add baseAddress="net.tcp://localhost:8081"/>
                        <add baseAddress="net.pipe://localhost"/>
                    </baseAddresses>
                </host>
            </service>
            <service name="ServiceLib.AdminService" behaviorConfiguration="basicBehavior">                
                <endpoint name="AdminOperations" address="AdminOperation" binding="basicHttpBinding" contract="ServiceLib.IAdminService"></endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8002/"/>                        
                    </baseAddresses>
                </host> 
            </service>
            <service name="ServiceLib.InternalService" behaviorConfiguration="basicBehavior">                
                <endpoint name="InternalOperations" address="InternalOperation" binding="netTcpBinding" contract="ServiceLib.IInternalService"></endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
                <host>
                    <baseAddresses>                        
                        <add baseAddress="net.tcp://localhost:8004/"/>
                        <add baseAddress="http://localhost:8003/"/>
                        <add baseAddress="net.pipe://localhost"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <!--<bindings>
            <basicHttpBinding>
                <binding name="basicBinding"></binding>
            </basicHttpBinding>
        </bindings>-->
        <diagnostics>
            <messageLogging
                 logEntireMessage="true"
                 logMalformedMessages="false"
                 logMessagesAtServiceLevel="true"
                 logMessagesAtTransportLevel="false"
                 maxMessagesToLog="3000"
                 maxSizeOfMessageToLog="2000"/>
        </diagnostics>
    </system.serviceModel>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
              propagateActivity="true">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\logs\MyWCFTraceLog.svclog"
              type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
              name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="C:\logs\MyWCFTraceLogMessage.svclog"
              type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
              name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
        <trace autoflush="true" />
    </system.diagnostics>
</configuration>