<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding"></binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="BasicHttpServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="Business.Service" behaviorConfiguration="BasicHttpServiceBehavior">
				<endpoint address="http://localhost:8081/Service.svc" binding="basicHttpBinding" contract="ServiceContracts.IService"></endpoint>
				<endpoint address="http://localhost:8081/mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>                
			</service>
		</services>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
