<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
      <httpRuntime maxRequestLength="10240"/>
  </system.web>
  <system.serviceModel>
      <services>
          <!--behaviorConfiguration="MyServiceBehavior" bindingConfiguration="b2bNet"-->
          <service name="MaFamilleService.Service" behaviorConfiguration="MyServiceBehavior">
              <endpoint address="net.tcp://localhost:8080/Service" binding="netTcpBinding" contract="MaFamilleService.IService" >
                  <!--<identity>
                      <dns value="net.tcp://localhost:8080"/>
                  </identity>-->                  
              </endpoint>
              <!--<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />-->
              <host>
                  <baseAddresses>
                      <add baseAddress="net.tcp://localhost:8080/Service"/>
                      <!--<add baseAddress="http://localhost:8081/Service"/>-->
                  </baseAddresses>
              </host>
          </service>
      </services>
      <bindings>
          <basicHttpBinding>
              <binding name="b2b" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
                  <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
                  <security mode="None"></security>
              </binding>
          </basicHttpBinding>
          <netTcpBinding>
              <binding name="b2bNet" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" portSharingEnabled="true">
                  <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
                  <security mode="None"></security>
              </binding>
          </netTcpBinding>
      </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false"/>            
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>     
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"  />
  </system.serviceModel>
 <system.webServer>
     
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
    <system.diagnostics>
        <trace autoflush="true"></trace>
        <sources>
            <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
                <listeners>
                    <add name="st" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SdrConfigExample.e2e"></add>
                </listeners>
            </source>
        </sources>
    </system.diagnostics>  
</configuration>
