<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
      <httpRuntime maxRequestLength="10240" />
  </system.web>
  <system.serviceModel>
      <services>          
          <service name="MaFamilleService.Service" behaviorConfiguration="MyServiceBehavior">
              <endpoint address="" binding="netTcpBinding" contract="MaFamilleService.IService" bindingConfiguration="b2bNet">
                  <!--<identity>
                      <dns value="net.tcp://localhost:8080"/>
                  </identity>-->                  
              </endpoint>
              <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
              <endpoint address="" binding="basicHttpBinding" contract="MaFamilleService.IService" bindingConfiguration="b2b">
                  <!--<identity>
                      <dns value="net.tcp://localhost:8080"/>
                  </identity>-->
              </endpoint>
              <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
              <host>
                  <baseAddresses>
                      <add baseAddress="net.tcp://192.168.1.4:4502/WcfService1/Service.svc" />
                      <!--<add baseAddress="http://mafamille.MaFamilleService.in/Service"/>-->
                  </baseAddresses>
              </host>
          </service>
      </services>
      <bindings>
          <basicHttpBinding>
              <binding name="b2b" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
                  <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
                  <security mode="None"></security>
              </binding>
          </basicHttpBinding>
          <netTcpBinding>
              <binding name="b2bNet" openTimeout="00:20:00" closeTimeout="00:20:00" sendTimeout="00:20:00" receiveTimeout="00:19:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" portSharingEnabled="true">
                  <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
                  <security mode="None"></security>
              </binding>
          </netTcpBinding>
          <wsHttpBinding>
              <binding name="mexBinding" closeTimeout="01:01:00" openTimeout="01:01:00"
                receiveTimeout="01:10:00" sendTimeout="01:01:00" maxReceivedMessageSize="5000000">
                  <security mode="None" />
              </binding>
          </wsHttpBinding>
      </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />            
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>     
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
 <system.webServer>
     
    <modules runAllManagedModulesForAllRequests="true" />
        <directoryBrowse enabled="true" />
  </system.webServer>
    <system.diagnostics>
        <trace autoflush="true"></trace>
        <sources>
            <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
                <listeners>
                    <add name="st" type="System.Diagnostics.XmlWriterTraceListener" initializeData="SdrConfigExample.e2e"></add>
                </listeners>
            </source>
        </sources>
    </system.diagnostics>  
</configuration>
